.blogs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  place-items: center;
}
.blogs-header {
  text-align: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 1.4rem;
  background-image: linear-gradient(#1e7ee9, #39424c);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.5s;
  border: 1px solid #bbb;
  padding: 6px;
  border-radius: 3px;
}
