.workflow-header {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.workflow-container {
  // clip-path: polygon(0 0, 100% 0%, 100% 52%, 0 75%);
  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba(126, 213, 111, 0.8),
  //     rgba(40, 180, 133, 0.8)
  //   ),
  //   url('../../Assets/Images/content-pixie-UamX6s03y3o-unsplash.jpg');
  // background-size: cover;
  // transform: skewY(-7deg);
  // margin-top: -10rem;
}
// .section-features {
//   padding: 20rem 0;
//   background-image: linear-gradient(
//       to right bottom,
//       rgba(126, 213, 111, 0.8),
//       rgba(40, 180, 133, 0.8)
//     ),
//     url('../../Assets/Images/content-pixie-UamX6s03y3o-unsplash.jpg');
//   background-size: cover;
//   transform: skewY(-7deg);
//   margin-top: -10rem;
// }
// .section-features > * {
//   transform: skewY(7deg);
// }
// .row {
//   max-width: 114rem;
//   margin: 0 auto;
// }
// .row [class^='col-']:not(:last-child) {
//   margin-right: 6rem;
// }
// .row .col-1-of-4 {
//   width: calc((100% - 3 * 6rem) / 4);
// }
// .row [class^='col-'] {
//   float: left;
// }
// .feature-box {
//   background-color: rgba(255, 255, 255, 0.8);
//   font-size: 1.5rem;
//   padding: 2.5rem;
//   text-align: center;
//   border-radius: 3px;
//   box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
//   transition: transform 0.3s;
// }
// .feature-box__icon {
//   font-size: 6rem;
//   margin-bottom: 0.5rem;
//   display: inline-block;
//   background-image: linear-gradient(to right, #7ed56f, #28b485);
//   -webkit-background-clip: text;
//   color: transparent;
// }
// .u-margin-bottom-small {
//   margin-bottom: 1.5rem !important;
// }
// .heading-tertiary {
//   font-size: 1.6rem;
//   font-weight: 700;
//   text-transform: uppercase;
// }
// .feature-box:hover {
//   transform: translateY(-1.5rem) scale(1.03);
// }
