.app-logo {
  width: 10rem;
  cursor: pointer;
}
.header-main {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border: 1px solid gainsboro;
}
.header-nav-main {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  text-align: center;
  cursor: pointer;
  color: #183c64;
  font-size: 20px;
}
.nav-title {
  display: inline-block;
  transition: transform 0.8s ease;
}
.nav-title:hover {
  background-color: #183c64;
  color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  transform: translateY(-5px);
}
