.app-logo {
  width: 10rem;
  cursor: pointer;
}

.header-main {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  border: 1px solid gainsboro;
}
.header-nav-main {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  text-align: center;
  cursor: pointer;
  color: #183c64;
  font-size: 20px;
}
// .nav-title {
//   display: inline-block;
//   transition: transform 0.8s ease;
// }
// .bounce:hover {
//   // background-color: #183c64;
//   box-shadow: 0 0 10px rgba(167, 162, 162, 0.6);
//   border-radius: 50%;
//   color: aliceblue;
//   color: #183c64;
//   border-radius: 5px;
//   transform: translateY(-5px);
// }

.nav-title {
  background-image: linear-gradient(
    to right,
    #1e7ee9,
    #39424c 50%,
    #0e498c 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-title:before {
  content: '';
  background-image: linear-gradient(
    to right,
    #1e7ee9,
    #39424c 50%,
    #0e498c 50%
  );
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-title:hover {
  background-position: 0;
}

.nav-title:hover::before {
  width: 100%;
}
