.tech-header {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.techstack-img {
  width: 33rem;
}
.tech-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
.tech-aside-main {
  display: grid;
  grid-template-columns: 50% 50%;
  /* max-height: 18rem; */
  background: #183c64;
  place-items: center;
}
.tech-img {
  width: 8rem;
}
